.env
data/
venv/
env/
*.json
*.csv
*.pyc
__pycache__/
TODO.txt
# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env/

# Configurações locais do VSCode
.vscode/

# Arquivos temporários e de cache
*.log
*.sqlite3
*.db
